<div class="jumbotron">
    <h1>Тестовый проект на соискание должности .Net Программист</h1>
</div>
<div class="row">
        <h2>Список используемых ресурсов:</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>METANIT</h2>
        <p><a class="btn btn-default" href="https://metanit.com/sharp/aspnet_webapi/1.2.php">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SMARLY.NET</h2>
        <p><a class="btn btn-default" href="http://smarly.net/pro-asp-net-mvc-4/asp-net-mvc-4-in-detail/web-api/creating-the-web-api-application">Перейти на сайт &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PROFESSORWEB</h2>
        <p><a class="btn btn-default" href="https://professorweb.ru/my/ASP_NET/mvc/level8/8_2.php">Перейти на сайт &raquo;</a></p>
    </div>

</div>
